<div class="row">
    <div class="col-md-2 editor" ng-init="editOn=true">
        <button ng-click="ShowHide=!ShowHide">Create New Post</button><br><br>
        <div class="showHideAnimation" ng-init="ShowHide = true" ng-hide="ShowHide">
            New Title:<br> <input type='text' ng-model="post.title"><br>
            New Subtitle: <br><input type='text' ng-model="post.subtitle"><br>
            Body: <br><textarea rows="8" columns="80" type="text" ng-model="post.body"></textarea><br>
            <button ng-click="addPost()">Add Post</button>
        </div>
    </div>
    <div class="container post-preview">
        <h2 class=""post-title">
        {{post.title}}
        </h2>
        <h3 class="post-subtitle">
            {{post.subtitle}}
            <br>
        </h3>
        <p>{{post.body}}</p>
    </div>
</div>
<div class="container">
    <!--editing view is off (editOff = true) until user clicks the edit button, switches from view to edit-->
    <div class="post-preview, my-hide-animation" ng-init = "isHidden=false; editOff = true"  ng-hide="isHidden" ng-repeat= "post in myPosts | orderBy: ordering">
        <br>

        <button ng-click="isHidden= true">Hide</button>

        <!--holds original blog post data on click in case reset is initiated-->
        <button ng-click="editOff= !editOff; holdData(post)" title="Edit Post"><i class="edit icon"></i></button><br><br>
        <button ng-hide = "editOff" title="Save Post" ng-click="saveEdits(post); editOn=!editOn">Save</button>
        <button ng-hide = "editOff" ng-click="reset(post);" title="Reset">Reset</button>
        <button ng-hide = "editOff" ng-click="isHidden = true; myPosts.$remove(post)" title="Delete Post"><i class="trash icon"></i></button>

        <div class="postView" ng-show="editOff">
            <h2 class="post-title">
                {{post.title}}
            </h2>
            <h3 class="post-subtitle">
                {{post.subtitle}}
            </h3>
            <p class="post-meta">{{post.date | DateFilter}}</p>
            <p>{{post.body}}</p>
        </div>

        <form class="editView" ng-hide="editOff">
            <h3><input ng-model = "post.title" style= "width: 450px" type="text" value="post.title"></h3>
            <h3> <input ng-model = "post.subtitle" style="width: 650px" type="text" value="post.subtitle"></h3>
            <p><textarea ng-model="post.body" style="width: 900px; height:400px" type="text">post.body</textarea></p>
        </form>
    </div>
</div>